
.main{
    
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    height:fit-content;
    width:fit-content;
    margin:9vh 0vw 5vh 3vw ;
    border:1.5px solid black;
    background-color:white;
    border-radius: 10px;
    border: 3px solid #fafafa;
    box-shadow: rgb(201, 194, 207)  0px 2px 3px 2px, rgba(194, 189, 189, 0.22) 5px 5px 11px;

}

.outline{
    font-size: small;
    height: fit-content;
    width: 80vw;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    outline-style: none;
}

.date{
    display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 25px;
     color:#D2042D;
     
}

.months{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 20px;
    padding-bottom: 10px ;
    font-weight: bold;
    font-size: 20px;
    color: rgb(79, 72, 72);
}

.digits
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* border:1.5px solid grey; */
    /* border-radius: 10px; */
}

.digits1{
    padding: 0.5rem; 
  text-align: center; 
  height: 3.5rem; 
  display: grid; 
  place-content: center; 
  font-size: 0.875rem; 
  border: 0.3px solid #343232; 
  border-radius: 5px;
}






.Event_dis .box {
    /* border: 1.5px solid rgb(0, 0, 0);
    
    font-family: "Outfit";
    font-style: normal;
    font-size: 3vh;
    
    text-align: center;
    background: #ffffff;
    border-radius: 5px; */
  
    line-height: 40px; 
  }
  
  .event_list button:hover{
    transform: scale(1.04);
    
  }
  
  #style-2::-webkit-scrollbar-track
  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-color: #F5F5F5;
  }
  
  #style-2::-webkit-scrollbar
  {
  width: 10px;
  background-color: #F5F5F5;
  }
  
  #style-2::-webkit-scrollbar-thumb
  {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #7B43AC;
  }
  
  .btncontainer{
  margin:160px 0px;
  }
  
  .btncontainer button {
  
  border-radius: 20px;
  border: 2px solid  #ffff;
  background-color: #9757C8;
  min-width:180px;
  height:40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin:20px;
  }
  
  
  
  
  .sharebtn{
  position: relative;
  margin: 12vh auto 0vh auto;
  
  }
  
  .box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  max-height: fit-content;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .headd{
    
    font-size: 1.2em;
      font-style: oblique;
      margin: 6vh 89vw -17vh 7vw;
  }
  
  
  /* Search button */
  
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 300px;
    margin: 17vh 80vw -17vh 7vw;
   }
   
   .inputt {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    /* border: 1px solid rgb(134, 134, 134); */
    border-radius: 8px;
    /* outline: none; */
    background-color: #ffffff;
    border: 2px solid #cbcbcb;
    color: #797979;
    transition: .3s ease;
    box-shadow: none;
   }
   
   .inputt::placeholder {
    color: #878787;
   }
   
   .inputt:focus, input:hover {
    outline: none;
    border-color: rgb(190, 150, 241) ;
    background-color: #fff;
    /* box-shadow: 0 0 0 4px rgb(234 76 137 / 10%); */
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #000000;
    width: 1rem;
    height: 1rem;
   }
  
   /* hover button */
   
  
  .btn {
   
    background-color: white;
    --color: #9757C8;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.4em;
    overflow: hidden;
    cursor: pointer;
    margin: 4px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
    }
  
  
    .btn::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 150px;
      height: 200px;
      z-index: -1;
      border-radius: 50%;
    }
    
    .btn:hover {
      color: white;
    }
    
    .btn:before {
      top: 100%;
      left: 100%;
      transition: 0.3s all;
    }
    
    .btn:hover::before {
      top: -30px;
      left: -30px;
    }
    /* create btn */
  
    .continue-application {
      --color: #fff;
      --background: #404660;
      --background-hover: #3A4059;
      --background-left: #2B3044;
      --folder: #F3E9CB;
      --folder-inner: #BEB393;
      --paper: #FFFFFF;
      --paper-lines: #BBC1E1;
      --paper-behind: #E1E6F9;
      --pencil-cap: #fff;
      --pencil-top: #275EFE;
      --pencil-middle: #fff;
      --pencil-bottom: #5C86FF;
      --shadow: rgba(13, 15, 25, .2);
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      line-height: 19px;
      /* -webkit-appearance: none; */
      -webkit-tap-highlight-color: transparent;
      padding: 17px 29px 17px 69px;
      transition: background 0.3s;
      color: var(--color);
      background: var(--bg, var(--background));
      height: 50px;
      margin: 11vh 0vw 0vh 22vw;
    }
    
    .continue-application > div {
      top: 0;
      left: 0;
      bottom: 0;
      width: 53px;
      position: absolute;
      overflow: hidden;
      border-radius: 5px 0 0 5px;
      background: var(--background-left);
    }
    
    .continue-application > div .folder {
      width: 23px;
      height: 27px;
      position: absolute;
      left: 15px;
      top: 13px;
    }
    
    .continue-application > div .folder .top {
      left: 0;
      top: 0;
      z-index: 2;
      position: absolute;
      transform: translateX(var(--fx, 0));
      transition: transform 0.4s ease var(--fd, 0.3s);
    }
    
    .continue-application > div .folder .top svg {
      width: 24px;
      height: 27px;
      display: block;
      fill: var(--folder);
      transform-origin: 0 50%;
      transition: transform 0.3s ease var(--fds, 0.45s);
      transform: perspective(120px) rotateY(var(--fr, 0deg));
    }
    
    .continue-application > div .folder:before, .continue-application > div .folder:after,
    .continue-application > div .folder .paper {
      content: "";
      position: absolute;
      left: var(--l, 0);
      top: var(--t, 0);
      width: var(--w, 100%);
      height: var(--h, 100%);
      border-radius: 1px;
      background: var(--b, var(--folder-inner));
    }
    
    .continue-application > div .folder:before {
      box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
      transform: translateX(var(--fx, 0));
      transition: transform 0.4s ease var(--fd, 0.3s);
    }
    
    .continue-application > div .folder:after,
    .continue-application > div .folder .paper {
      --l: 1px;
      --t: 1px;
      --w: 21px;
      --h: 25px;
      --b: var(--paper-behind);
    }
    
    .continue-application > div .folder:after {
      transform: translate(var(--pbx, 0), var(--pby, 0));
      transition: transform 0.4s ease var(--pbd, 0s);
    }
    
    .continue-application > div .folder .paper {
      z-index: 1;
      --b: var(--paper);
    }
    
    .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
      content: "";
      width: var(--wp, 14px);
      height: 2px;
      border-radius: 1px;
      transform: scaleY(0.5);
      left: 3px;
      top: var(--tp, 3px);
      position: absolute;
      background: var(--paper-lines);
      box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
    }
    
    .continue-application > div .folder .paper:after {
      --tp: 6px;
      --wp: 10px;
    }
    
    .continue-application > div .pencil {
      height: 2px;
      width: 3px;
      border-radius: 1px 1px 0 0;
      top: 8px;
      left: 105%;
      position: absolute;
      z-index: 3;
      transform-origin: 50% 19px;
      background: var(--pencil-cap);
      transform: translateX(var(--pex, 0)) rotate(35deg);
      transition: transform 0.4s ease var(--pbd, 0s);
    }
    
    .continue-application > div .pencil:before, .continue-application > div .pencil:after {
      content: "";
      position: absolute;
      display: block;
      background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
      width: var(--w, 5px);
      height: var(--h, 20px);
      border-radius: var(--br, 2px 2px 0 0);
      top: var(--t, 2px);
      left: var(--l, -1px);
    }
    
    .continue-application > div .pencil:before {
      -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
      clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    }
    
    .continue-application > div .pencil:after {
      --b: none;
      --w: 3px;
      --h: 6px;
      --br: 0 2px 1px 0;
      --t: 3px;
      --l: 3px;
      border-top: 1px solid var(--pencil-top);
      border-right: 1px solid var(--pencil-top);
    }
    
    .continue-application:before, .continue-application:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      border-radius: 1px;
      background: var(--color);
      transform-origin: 9px 1px;
      transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
      top: 26px;
      right: 16px;
      transition: transform 0.3s;
    }
    
    .continue-application:after {
      --r: 45deg;
    }
    
    .continue-application:hover {
      --cx: 2px;
      --bg: var(--background-hover);
      --fx: -40px;
      --fr: -60deg;
      --fd: .15s;
      --fds: 0s;
      --pbx: 3px;
      --pby: -3px;
      --pbd: .15s;
      --pex: -24px;
    }
    
  
  
   
  
  .twobt{
    display: flex;
    flex-direction: row;
    margin: 11vh 1vw 1vh 30vw;
    width: fit-content;
    justify-content: space-around;
  }
  
  /* #list{
    margin: 11vh 39vw 1vh 1vw;
  }
  */
  
  #calendarr{
    margin: 0vh 15vw 1vh 1vw;
    
  } 
  
  .threebt{
    display: flex;
    flex-direction: row;
  }
  
  /* create event button  */
  .addevent{
    margin: 11vh 0vw 0vh 25vw;
    padding: 12px 21px;
    background:#f4500a;
    
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: px;
    cursor: pointer;
    height: 50px;
    text-align: center;
  
  }
   
  
  
  
  .eventimg{
    display: unset;
    margin: auto 2vw;
    width: 15vh;
    height: 14vh;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: fit;
  }
  
  
  /* cal image/ */
  
  .no-events-to-show-img{
    
      height: -webkit-fill-available;
      /* background-color: aquamarine; */
      width: 90vw;
      align-self: center;
      border: 1px solid gray;
      border-radius: 5px ;
  
  }
  
  
  
  
  
  .button-box {
      width: 220px;
      margin: 35px auto;
      position: relative;
      border-radius: 30px;
      background: #fff
  }
  
  .toggle-btn {
      padding: 10px 40px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
      text-align: center;
  }
  
  #btn {
      left: 0;
      top: 0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: #e67e22;
      border-radius: 30px;
      transition: .5s;
  }
  
  
  